@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
div > a, a:hover{
    color: black;
    font-weight: bold;
}
.navbar-collapse{
    padding: 0;
}
.navbar-collapse ul{
    margin: 0;
}
#menu-toggle li{
    list-style: none;
    width: 100%;
    border: 1px solid black;
}
#menu-toggle li:hover{
    list-style: none;
    width: 100%;
    border: 1px solid black;
    background: cadetblue;
    font-weight: bold;
}
#menu-toggle li:nth-child(2){
    list-style: none;
    width: 100%;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
}
a.menu-item, a.menu-item:hover, a.menu-item:active, a.menu-item:visited{
    color: black;
}
section.container{
    background: turquoise;
    border: 1px solid black;
}